<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>doorkeeper-test</display-name>

	<listener>
		<listener-class>net.dataforte.doorkeeper.filter.ContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>doorkeeper</filter-name>
		<filter-class>net.dataforte.doorkeeper.filter.AuthenticatorFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>doorkeeper</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>403</error-code>
		<location>/</location>		
	</error-page>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>